{<<"links">>,[{<<"GitHub">>,<<"https://github.com/etran/framex">>}]}.
{<<"name">>,<<"framex">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,
 <<"Lazy, read-only queries over a FrameNet JSON artifact">>}.
{<<"elixir">>,<<"~> 1.18">>}.
{<<"app">>,<<"framex">>}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"files">>,
 [<<".formatter.exs">>,<<"README.md">>,<<"TERMINOLOGY.md">>,<<"lib">>,
  <<"lib/framex.ex">>,<<"lib/framex">>,<<"lib/framex/sem_type.ex">>,
  <<"lib/framex/relation.ex">>,<<"lib/framex/annotation.ex">>,
  <<"lib/framex/fe.ex">>,<<"lib/framex/corpus.ex">>,
  <<"lib/framex/application.ex">>,<<"lib/framex/frame.ex">>,
  <<"lib/framex/lu.ex">>,<<"mix.exs">>,<<"priv/corpora/demo_en_17">>,
  <<"priv/corpora/demo_en_17/annotations">>,
  <<"priv/corpora/demo_en_17/annotations/lu-06604.json">>,
  <<"priv/corpora/demo_en_17/annotations/lu-06263.json">>,
  <<"priv/corpora/demo_en_17/annotations/lu-01046.json">>,
  <<"priv/corpora/demo_en_17/annotations/lu-02971.json">>,
  <<"priv/corpora/demo_en_17/manifest.json">>,
  <<"priv/corpora/demo_en_17/catalog.json">>]}.
{<<"requirements">>,[]}.
{<<"build_tools">>,[<<"mix">>]}.
